<!-- Small boxes (Stat box) -->
<div class="row mt-3">
    <div class="col-lg-6 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{ listStudents.length }}</h3>

          <p>Sinh Viên</p>
        </div>
        <div class="icon">
          <i class="far fa-user"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-6 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{ listSubjects.length }}</h3>

          <p>Môn Học</p>
        </div>
        <div class="icon">
          <i class="fas fa-folder-open"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->